<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />

    <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.ico') }}" />
    <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.svg') }}" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename= 'img/apple-touch-icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}" />

    <!-- Fonts CSS -->
    <link href="//fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css" />

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/feather.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'third-party/fontawesome-6-free/css/all.css') }}" />

    <!-- App CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-light.min.css') }}" id="lightTheme" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-dark.min.css') }}" id="darkTheme" disabled />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/custom.css') }}" id="custom" />

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/tmpl.min.js') }}"></script>
    <script type="text/javascript">
        function getObj(id, arr, key) { key = key || 'id'; var o = null; $.each(arr, function (i, el) { if (el[key] == id) { o=el; return; } }); return o; };
        function cleanObj(o) { Object.keys(o).forEach(key => o[key] === undefined ? delete o[key] : {}); return o; }
    </script>

    {{ moment.include_moment() }}

    {% block header %}
    {% endblock %}
</head>
<body class="vertical light">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <ul class="nav">
                <!--li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
                        <span class="fe fe-grid fe-16"></span>
                    </a>
                </li-->
                <!-- <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-16"></span>
                        <span class="dot dot-md bg-success"></span>
                    </a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <!-- TODO: display user image -->
                            <!-- <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle"> -->
                            <span class="avatar-img rounded-circle">
                                <i class="fa-regular fa-face-smile" style="font-size:1.6rem" ></i>
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        {% if is_admin %}
                        <a class="dropdown-item" href="{{ url_for('site.system.register') }}">Register</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('site.system.logout') }}">Log out</a>
                    </div>
                </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light" style="min-height: 485px;">
                <!-- nav bar -->
                <!-- <div class="w-100 mb-4 d-flex">
                <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                    <img src="/static/img/apple-touch-icon.png" />
                </a>
                </div> -->
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Apps</span>
                </p>
                <ul class="navbar-nav w-100 mb-2">
                    <li class="nav-item">
                        <a href="{{ url_for('site.users.get_user') }}" aria-expanded="false" class="nav-link"
                            data-title="Users" data-icon="fe fe-users">
                            <i class="fe fe-users"></i>
                            <span class="ml-3 item-text">Users</span>
                        </a>
                        <ul class="list-unstyled pl-4 w-100" id="ui-users">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="{{ url_for('site.users.users_students') }}"
                                    data-title="Student Accounts" data-icon="fa-solid fa-user-graduate">
                                    <!-- <i class="fa-solid fa-user-graduate"></i> -->
                                    <span class="ml-1 item-text">Students</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="{{ url_for('site.users.users_staff') }}"
                                    data-title="Staff Accounts" data-icon="fa-solid fa-users">
                                    <!-- <i class="fa-solid fa-users"></i> -->
                                    <span class="ml-1 item-text">Staff</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="{{ url_for('site.users.users_test_students') }}"
                                    data-title="Test Student Accounts" data-icon="fa-solid fa-user-graduate">
                                    <!-- <i class="fa-solid fa-user-graduate"></i> -->
                                    <span class="ml-1 item-text">Test Students</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="{{ url_for('site.users.users_guests') }}"
                                    data-title="Guest Accounts" data-icon="fa-solid fa-user-tie">
                                    <!-- <i class="fa-solid fa-user-tie"></i> -->
                                    <span class="ml-1 item-text">Guests</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('site.courses.get_courses') }}" aria-expanded="false" class="nav-link"
                            data-title="Courses" data-icon="fa-solid fa-building-columns">
                            <i class="fa-solid fa-building-columns"></i>
                            <span class="ml-3 item-text">Courses</span>
                        </a>
                        <ul class="list-unstyled pl-4 w-100" id="ui-courses">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="{{ url_for('site.sandbox.get_list_of_sandbox_sited') }}"
                                    data-title="Sandboxes" data-icon="fa-solid fa-umbrella-beach">
                                    <span class="ml-1 item-text">Sandbox</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('site.peoplesoft.get_ps_courses') }}" class="nav-link"
                            data-title="PeopleSoft - Course and Program" data-icon="fa-solid fa-landmark-dome">
                            <i class="fa-solid fa-landmark-dome"></i>
                            <span class="ml-3 item-text">PeopleSoft</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('site.learningstore.gl_balance') }}" aria-expanded="false" class="nav-link"
                            data-title="Learning Store" data-icon="fa-solid fa-building-columns">
                            <i class="fa-solid fa-store"></i>
                            <span class="ml-3 item-text">Learning Store</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('site.organisations.start') }}" class="nav-link"
                            data-title="Organisation" data-icon="fa-solid fa-sitemap">
                            <i class="fa-solid fa-sitemap"></i>
                            <span class="ml-3 item-text">Organisation</span>
                        </a>
                    </li>
                    <li>
                        <p class="text-muted nav-heading mt-4 mb-1">
                            <span>System</span>
                        </p>
                        <ul class="navbar-nav w-100 mb-2">
                            <li class="nav-item w-100">
                                <a class="nav-link" href="{{ url_for('site.settings.start') }}"
                                    data-title="Settings" data-icon="fe fe-settings fe-16">
                                    <i class="fe fe-settings fe-16"></i>
                                    <span class="ml-3 item-text">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="flex-end w-100 mt-4 mb-1">
                    <input id="toggle_status" type="checkbox" />
                    <label for="toggle_status">
                        <i class="fa-solid fa-cloud"></i>
                    </label>

                    <div class="popout">
                        <!-- Display the right information here -->
                        <div>
                            <h5>
                                Token Expires:
                                <button id="btn_oauth_login" type="button" class="btn mb-2 btn-outline-dark"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
                                <button id="btn_token_refresh" type="button" class="btn mb-2 btn-outline-dark"><i class="fa-solid fa-arrows-rotate"></i></button>
                            </h5>
                            <span>{{expires}}</span>
                        </div>
                        <div>
                            <h5>ID Vault Status:</h5>
                            <span>{{spml}}</span>
                        </div>
                    </div>
                </div>
            </nav>
        </aside>
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row align-items-center mb-2">
                            <div class="col">
                                <h2 id="page-title" class="h4 page-title">Welcome {{ user }}!</h2>
                            </div>
                            <div class="col-auto">
                                <!--form class="form-inline">
                                    <div class="form-group d-none d-lg-inline">
                                    <label for="reportrange" class="sr-only">Date Ranges</label>
                                    <div id="reportrange" class="px-2 py-2 text-muted">
                                        <span class="small">September 26, 2022 - October 25, 2022</span>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <button type="button" class="btn btn-sm"><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button>
                                    <button type="button" class="btn btn-sm mr-2"><span class="fe fe-filter fe-16 text-muted"></span></button>
                                    </div>
                                </form-->
                            </div>
                        </div>
                        <div class="row">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
              </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery.validate.min.js') }}"></script>
    {% block footer %}
    {% endblock %}
</body>
</html>
