## APP ######################################################
APP_PREFIX=lite
DEBUG=True
RUNNING_IN_DOCKER=True
SECRET=tmpl_secret

## D2L ######################################################
D2L_ID=tmpl_D2L_ID
D2L_SECRET=tmpl_D2L_SECRET
D2L_URL=tmpl_D2L_URL
D2L_AUTH_URL=tmpl_D2L_AUTH_URL
D2L_TOKEN_URL=tmpl_D2L_TOKEN_URL
D2L_REDIRECT_URI=tmpl_D2L_REDIRECT_URI
D2L_SCOPE=tmpl_D2L_SCOPE
D2L_CALL_ALLOWED_HOSTS=tmpl_CALL_ALLOWED_HOSTS

## MySQL ####################################################
SQL_HOST=tmpl_SQL_HOST
SQL_PORT=tmpl_SQL_PORT
SQL_USER=tmpl_SQL_USER
SQL_PASS=tmpl_SQL_PASS
SQL_DATABASE=tmpl_SQL_DATABASE
