
# Python - Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/

# Flask stuff:
instance/
.webassets-cache

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
.vscode
.python-version

app/**/VERSION

# Docker
.env
.env.run

# Temporary files
requirements-dev.txt
ruff_errors.txt
errors.txt

# datafiles
*.csv

# Docker
docker-compose.override.yml

# logfiles
.log

# OS
.DS_Store
Thumbs.db

c.py
p.py
s.py
t.py
