
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
.vscode
.python-version

app/**/VERSION

# Docker
.env
.env.run

# datafiles
*.csv

# logfiles
.log

c.py
p.py
s.py
t.py
