#######################################################################
## System #############################################################
secret="some long string to use as flask secret -- change this --"

## D2L ################################################################
D2L_ID="D2L OAUTH ID"
D2L_SECRET="D2L OAUTH SECRET"
D2L_URL='https://your.brightspace.com/'
D2L_AUTH_URL='https://auth.brightspace.com/oauth2/auth'
D2L_TOKEN_URL='https://auth.brightspace.com/core/connect/token'
D2L_REDIRECT_URI='https://middleware.uct.ac.za/lite/callback'
D2L_SCOPE='content-service:*:* content:*:* core:*:* enrollment:*:* grades:*:* import:*:* lti:*:* ltiadvantage:*:* managefiles:*:* organizations:*:* orgunits:*:* reporting:*:* role:*:* sections:*:* users:*:*'

CALL_ALLOWED_HOSTS='10.10.0.0/16'

## MySQL ##############################################################
SQL_HOST="middelware-db-server.uct.ac.za"
SQL_PORT="3306"
SQL_USER="middelware-user"
SQL_PASS="middelware-password"
SQL_DATABASE="middelware-db"
