<!doctype html>
<html lang="en">
<head>
    <title>UCT D2L Middleware - Login</title>
    <meta name="description" content="" />

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />

    <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.ico') }}" />
    <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.svg') }}" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename= 'img/apple-touch-icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}" />

    <!-- Fonts CSS -->
    <link href="//fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css" />

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/feather.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'third-party/fontawesome-6-free/css/all.css') }}" />

    <!-- App CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-light.min.css') }}" id="lightTheme" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-dark.min.css') }}" id="darkTheme" disabled />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/custom.css') }}" id="custom" />

</head>
<body class="vertical light">
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" role="form" method="post" action="">
                {{ form.hidden_tag() }}

                <h1 class="h6 mb-3">Sign in</h1>
                <div class="form-group">
                    {{ form.username.label(class="sr-only") }}
                    {{ form.username(placeholder="Username", class="form-control form-control-lg") }}

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="sr-only") }}
                    {{ form.password(placeholder="Password",
                                    class="form-control form-control-lg",
                                    autocomplete="current-password") }}

                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span class="fe fe-minus-circle fe-16 mr-2"></span> {{ error }}
                </div>
                {% endif %}
                <!-- <div class="checkbox mb-3">
                    <label><input type="checkbox" value="remember-me"> Stay logged in </label>
                </div> -->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>
                <p class="mt-5 mb-3 text-muted">© {{year}}</p>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            // Check if the login page is loaded inside an iframe
            if (window.self !== window.top) {
                // Redirect the parent window to the login page
                window.top.location.href = window.location.href;
            }
        })();
    </script>
</body>
</html>
