<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />

    <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.ico') }}" />
    <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.svg') }}" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename= 'img/apple-touch-icon.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}" />

    <!-- Fonts CSS -->
    <link href="//fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css" />

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/feather.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'third-party/fontawesome-6-free/css/all.css') }}" />

    <!-- App CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-light.min.css') }}" id="lightTheme" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-dark.min.css') }}" id="darkTheme" disabled />

    <!-- Date Range Picker | Popup CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/daterangepicker.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery-msgpopup.css') }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/custom.css') }}" id="custom" />

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/datatables.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dataTables.bootstrap4.min.css') }}" />

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/tmpl.min.js') }}"></script>
    <script type="text/javascript">
        jQuery.fn.exists = function(){ return this.length > 0; }

        function getObj(id, arr, key) { key = key || 'id'; var o = null; $.each(arr, function (i, el) { if (el[key] == id) { o=el; return; } }); return o; };
        function cleanObj(o) { Object.keys(o).forEach(key => o[key] === undefined ? delete o[key] : {}); return o; }

        const _amathuba_url = "{{ globals.d2l_url }}";
    </script>
    {{ moment.include_moment() }}
    {{ JSGlue.include() }}
    {% block header %}
    {% endblock %}
</head>
<body class="vertical light">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <h2 id="page-title" class="h4 page-title">Welcome {{ user }}!</h2>
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <span class="avatar-img rounded-circle">
                                <i class="fa-regular fa-face-smile" style="font-size:1.6rem" ></i>
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        {% if is_admin %}
                        <a class="dropdown-item" href="{{ url_for('site.system.register') }}">Register</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('site.system.logout') }}">Log out</a>
                    </div>
                </li>
            </ul>
        </nav>
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% block content %}
                        {% endblock %}
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div>
        </main>
    </div>
    <!-- TODO : minify all JS -->
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery-msgpopup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.multi_select.js') }}"></script>
    <script type="text/javascript">
        function postResize() {
            parent.postMessage(JSON.stringify({
                subject: "iframeResize",
                width:  window.innerWidth,
                height: window.innerHeight
            }), "*");
        }
        window.onresize = postResize;
    </script>
    {% block footer %}
    {% endblock %}
</body>
</html>
